.fotile_guarantee{
	width:100%;
}

.w1170 {
  width: 1170px;
  margin: 0 auto;
}

.fotile_guarantee li{
	width:25%;
	float:left;

}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.fr {
  float: right;
}

.fl {
  float: left;
}
