.fotile_address{
  .form{
    padding: 10px 12px;
    .line{
      line-height: 60px;
      font-size: 14px;
      display: flex;
      align-items: center;
      .title{
        width: 100px;
        flex-shrink: 0;
        text-align: justify;
        text-align-last: justify;
      }
      .right{
        .input{
          width: 370px;
          outline: none;
          border:1px solid #e5e5e5;
          border-radius: 4px;
          line-height: 36px;
          box-sizing: border-box;
          padding: 0 12px;
        }
        .ft_radio{
          margin-right: 50px;
          input[type="radio"]{
            display: none;
            &:checked+.fakeR{
              &:after{
                content:'';
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: rgb(182, 15, 15);
                position: absolute;
                top:4.5px;
                left:4.5px;
              }
            }
            &+.fakeR{
              display: inline-block;
              width: 16px;
              height: 16px;
              border:1px solid #e5e5e5;
              border-radius: 50%;
              vertical-align: middle;
              margin-right: 10px;
              position: relative;
            }
          }
        }
      }
    }
    .save{
      display: inline-block;
      color:#fff;
      font-size: 14px;
      background-color: rgb(182, 15, 15);
      width: 158px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      border-radius: 4px;
      margin-top: 20px;
    }
  }
}
