.fotile_redpackets{
	.redpacketsList{
		display:flex;
		flex-direction:row;
		.item{
			padding-left: 26px;
			padding-top: 46px;
			display:flex;
			flex-direction:row;
			.redpackinfo{
				width:168px;
				height:188px;
				background: #b60f0f;
				.redpack{
					width:168px;
					height:188px;
					text-align: center;
					padding:50% 0;
					.currency{
						font-size:12px;
						color:#ffba01;

					}
				}
			}
		}
	}
}