.fotile_usercenter{
  display: flex;
  justify-content: space-between;
  .left-menu{
    width: 280px;
    flex-shrink: 0;
    .userInfo_wrapper{
      margin-bottom: 24px;
    }
  }
  .right-view{
    flex-grow: 1;
  }
}
